@injectSignInManager<StudentReviewManager.DAL.Models.User>SignInManager
@{
var hasExternalLogins=(await SignInManager.GetExternalAuthenticationSchemesasync ()).Any();
}
<ulclass ="navnav-pillsflex-column">
<liclass ="nav-item"><aclass ="nav-link@ManageNavPages.IndexNavclass (ViewContext)"id="profile"asp-page="./Index">Profile</a></li>
<liclass ="nav-item"><aclass ="nav-link@ManageNavPages.EmailNavclass (ViewContext)"id="email"asp-page="./Email">Email</a></li>
<liclass ="nav-item"><aclass ="nav-link@ManageNavPages.ChangePasswordNavclass (ViewContext)"id="change-password"asp-page="./ChangePassword">Password</a></li>
@if(hasExternalLogins)
{
<liid="external-logins"class ="nav-item"><aid="external-login"class ="nav-link@ManageNavPages.ExternalLoginsNavclass (ViewContext)"asp-page="./ExternalLogins">Externallogins</a></li>
}
<liclass ="nav-item"><aclass ="nav-link@ManageNavPages.TwoFactorAuthenticationNavclass (ViewContext)"id="two-factor"asp-page="./TwoFactorAuthentication">Two-factorauthentication</a></li>
<liclass ="nav-item"><aclass ="nav-link@ManageNavPages.PersonalDataNavclass (ViewContext)"id="personal-data"asp-page="./PersonalData">Personaldata</a></li>
</ul>
