@page
@modelSetPasswordModel
@{
ViewData["Title"]="Setpassword";
ViewData["ActivePage"]=ManageNavPages.ChangePassword;
}
<h3>Setyourpassword</h3>
<partialname="_StatusMessage"for="StatusMessage"/>
<pclass ="text-info">
Youdonothavealocalusername/passwordforthissite.Addalocal
accountsoyoucanloginwithoutanexternallogin.
</p>
<divclass ="row">
<divclass ="col-md-6">
<formid="set-password-form"method="post">
<divasp-validation-summary="ModelOnly"class ="text-danger"role="alert"></div>
<divclass ="form-floatingmb-3">
<inputasp-for="Input.NewPassword"class ="form-control"autocomplete="new-password"placeholder="Pleaseenteryournewpassword."/>
<labelasp-for="Input.NewPassword"class ="form-label"></label>
<spanasp-validation-for="Input.NewPassword"class ="text-danger"></span>
</div>
<divclass ="form-floatingmb-3">
<inputasp-for="Input.ConfirmPassword"class ="form-control"autocomplete="new-password"placeholder="Pleaseconfirmyournewpassword."/>
<labelasp-for="Input.ConfirmPassword"class ="form-label"></label>
<spanasp-validation-for="Input.ConfirmPassword"class ="text-danger"></span>
</div>
<buttontype="submit"class ="w-100btnbtn-lgbtn-primary">Setpassword</button>
</form>
</div>
</div>
@sectionScripts{
<partialname="_ValidationScriptsPartial"/>
}
