@model IEnumerable<StudentReviewManager.DAL.Models.School>
@{
    ViewData["Title"] = "Schools";
}
<h1>Schools</h1>
<p>
    <a class="btn btn-primary" href="/School/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>City</th>
            <th>Average Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.City.Name)</td>
                <td>Average Rating Calculation Here</td>
                <td>
                    <a class="btn btn-secondary" href="/School/Edit/@item.Id">Edit</a> |
                    <a class="btn btn-danger" href="/School/Delete/@item.Id">Delete</a> |
                    <a class="btn btn-info" href="/School/Details/@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
